*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* --colors-- */
.skyblue{   
    background: #52c1f3;
}
.white{
    background: #fff;
}
/* --end colors-- */


/* --style body-- */
ul{
    list-style: none;
}
.header-home{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;;
}
.header-home .content-header {
    width: 80%;
    margin:  auto;
}
.fila-color{
    width: 100%;
    height: 20px;
}
main{
    padding-top: 8.5rem;
}

.navigator ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    transition: all 0.3s linear;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500px  ;
}
.navigator ul li a:hover{
    background: #52c1f3;
    color: #fff;
    cursor: pointer;
}
/* --end style body-- */