*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbfe;
}

header > nav > table {
    box-shadow: 0 1px 4px rgba(146, 161, 176, 15);
}

table .tr-1 > .td-2 {
    vertical-align: top;
}

.tr-1 > .td-2 a {
    padding: .4em .5em;
    font-size: .9em;
    color: white;
    background-color: #0394cb;
    border-radius: 4px;
}

.tr-2 > * > a {
    color: rgb(105, 116, 119);
}

main > section > table {
    box-shadow: 0 1px 4px rgba(146, 161, 176, 15);
}

td > a {
    text-decoration: none;
}