*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --colors-- */
.skyblue{   
    background: #52c1f3;
}
.white{
    background: #fff;
}

/* --style body-- */
ul{
    list-style: none;
}
.header-home{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;;
}
.header-home .content-header {
    width: 80%;
    margin:  auto;
}
.fila-color{
    width: 100%;
    height: 20px;
}
main{
    padding-top: 8rem;
}
main > section > table {
    box-shadow: 0 1px 4px rgba(146, 161, 176, 15);
}

.navigator ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    transition: all 0.3s linear;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500px  ;
}
.navigator ul li a:hover{
    background: #52c1f3;
    color: #fff;
    cursor: pointer;
}

.navigator ul:first-child li a {
    font-size: .8em;
}
/* --end style body-- */


